@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<hr />
<div>
    <h3>Purpose</h3>
    <p>The purpose of this website is to provide a way to manage a beverage database. The user is able to create, delete, and edit beverages. In addition, users will be able to filter
        the beverage list by name, pack, minimum price, as well as maximum price.</p>
    <hr />
</div>
<div>
    <h3>FAQ</h3>
    <h4>- How do I find the beverage list?</h4>
    <p>The button to access the beverage list will show after logging in at the top of the page.</p>
    <h4>- How do I become authorized to access and edit the list?</h4>
    <p>Press the register button at the top right of the page and register, or if already registered, log in.</p>
    <h4>- How do I add, delete, or edit a beverage?</h4>
    <p>Press the "Beverage List" button at the top of the page. Next, press the action you wish to do above the list of beverages.</p>
</div>

