@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Kalamazoo Valley Community College<br />
    6767 W O Ave. Kalamazoo, MI 49009<br />
    <abbr title="Phone">P:</abbr>
    2693737800
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:etamayo3605@mail.kvcc.edu">etamayo3605@mail.kvcc.edu</a>
</address>