@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wine and Beverage Collection</h1>
    <p class="lead">Wine and Beverage Collection will allow you to keep track of beverages through a list. It will allow you to create, delete, and edit beverages.</p>
    <p><a href="http://localhost:51511/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage</h2>
        <p>
            Manage your beverage collection quickly and easily, with Wine and Beverage Collection. It will allow you to create, delete, and edit beverages allowing you
            to control aspects of your list through a web interface.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find</h2>
        <p>Find beverages per different specifications allowing you to quickly find the beverage you are looking for.</p>
    </div>
    <div class="col-md-4">
        <h2>Organize</h2>
        <p>Organize your list to help you become more efficient and productive.</p>
    </div>
</div>